/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #921049;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d01971;
}
